@import "common.scss";

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.header {
    width: 100%;
    height: px2rem(45px);
    background: rgba(252, 127, 4, 0.98);
    display: flex;
    h2 {
        display: inline-block;
        width: 15%;
        height: 100%;
        text-align: center;
        font-size: px2rem(30px);
        color: #fff;
    }
    p {
        flex: 1;
        input {
            width: 98%;
            height: 70%;
            outline: none;
            border: none;
            margin-top: px2rem(6px);
            border-radius: 5px;
            background: orangered;
            text-align: center;
            &::-webkit-input-placeholder {
                color: #fff;
            }
        }
    }
}
.section {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    .banner {
        width: 100%;
        height: px2rem(220px);
        .swp {
            div {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .list {
        margin-top: 5px;
        ul {
            display: flex;
            text-align: center;
            margin-top: 10px;
            li {
                flex: 1;
            }
        }
    }
    .updwon {
        width: 100%;
        height: 100px;
        margin-top: 5px;
        dl {
            display: flex;
            width: 100%;
            height: 100%;
            dt {
                margin-top: 5px;
            }
            dd {
                width: 100%;
                height: 100%;
                flex: 1;
                .banner2 {
                    width: 100%;
                    height: 100%;
                    .swp {
                        div {
                            padding-top: 20px;
                        }
                    }
                }
            }
        }
    }
}
.footer {
    width: 100%;
    height: px2rem(45px);
    ul {
        display: flex;
        text-align: center;
        margin-top: px2rem(4px);
        li {
            flex: 1;
        }
    }
}